body{
    background-color: #411874;
    background-size: cover;
    font-family: 'Nunito','Indie Flower', sans-serif;
    font-size: 1.2em;
    color: #fff;
    /* background:linear-gradient(to left, rgba(121, 5, 79, 0.845) 0%, rgb(33, 0, 99) 100%);
     */
}

.welcome{
    width: 100%;
    text-align: center;
    border-color: #fff;
    margin-bottom: 0.5em;
}

h1,h2,h3,h4,h5,h6{
    font-size: 3em;
    text-shadow: 0 0 0.5em rgb(52, 50, 50);
    border-style: solid;
    border-width: 0.1em;
    padding: 0.5em;
   
}

