.main{
    width: 100%;
    display: flex;
    align-content: flex-start;
    justify-content: space-around;
}

input, textarea{
    width:90%;
    padding: 1em;
    border-radius: 2em;
    border-width: 1px;
    margin-bottom: 1em;
}

/* for highlighting text */
mark{ 
    background-color: #c2b3ff97;
    padding:2%;
}

h3{
    text-align: left;
    text-shadow: none;
    background-color: #c2b3ff;
    color:ghostwhite;
    font-size: x-large;
    border-radius: 2em;
    padding: 1em;
    margin:0;
    /* background-color: #ccf2fdc2; */
    /* background-color: #a2eefcf6; */
}

button{
    border:none;
    background-color: #c2b3ff;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: 1em;
    border-radius: 2em;
    cursor: pointer;
}

.col-1{
    width: 60%;
    text-align: left;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 3%;
    border-radius: 2em;
    box-shadow: 0px 0px 10px 0px rgba(46, 46, 46, 0.75);
    margin:2%;
}

.col-2{
    width:30%;
    margin-left: 2%;
}

/* from style.css */
a {
    text-decoration: none;
    color: ghostwhite;
  }
  
  div {
    width: 100%;
    text-align: center;
    margin-bottom: 0.5em;
  }
  
  hr {
    border: 0.1em solid rgb(243, 196, 255);
    background-color: rgb(243, 196, 255);
  }
  
  body {
    background-color: #411874;
    background-size: cover;
    font-family: "Nunito", "Indie Flower", sans-serif;
    font-size: 1.2em;
    color: #fff;
    margin: 3% 6%;
    /* background:linear-gradient(to left, rgba(121, 5, 79, 0.845) 0%, rgb(33, 0, 99) 100%);
       */
  }
  
  h1,
  h2,
  h3,
  .img_box {
    text-shadow: 0 0 0.1em rgb(243, 196, 255);
    border-style: solid;
    border-width: 0.1em;
    padding: 0.5em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
  }
  
  .center {
    text-align: center;
  }
  
  img {
    width: 100%;
  }
  
  #welcome h1 {
    font-size: 3em;
    /* font-size:4.5vw;  */
  }
  
  /* shadow hover effect */
  h1:hover,
  h2:hover {
    text-shadow: 0.1em 0.1em rgb(177, 239, 250);
    box-shadow: 0.2em 0.2em rgb(255, 223, 223);
  }
  
  /* navbar styling */
  .outer_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2%;
    margin-bottom: 1.5em;
  }
  
  /* boxes with solid color shadows */
  .border_with_shadow {
    background-color: black;
    border-style: solid;
    border-width: 0.1em;
    padding: 0.5em;
    border-color: #fff;
    border-radius: 2em;
    box-shadow: 0.3em 0.3em rgb(197, 117, 255);
  }
  
  /* navbar items styling and solid shadows */
  #nav {
    font-size: 1em;
    font-family: "Indie Flower";
  }
  
  .border_with_shadow:hover {
    text-shadow: 0.1em -0.1em 0.1em rgb(129, 173, 255);
    box-shadow: 0.2em 0.2em rgb(255, 255, 255);
  }
  